* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter";
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.social-links {
  background-color: hsl(0, 0%, 12%);
  width: 21.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 1.8rem;
}

img {
  max-width: 100%;
  border-radius: 50px;
  max-width: 5rem;
  margin: 2rem 0 1.7rem 0;
}

h1 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.location {
  color: hsl(75, 94%, 57%);
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.office {
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}

button {
  width: 275px;
  height: 40px;
  border-radius: 8px;
  margin-bottom: 15px;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: #fff;
  font-weight: 700;
  transition: 0.5s ease-in-out;
 
 
 
}

button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  cursor: pointer;
  
 

}
